Trouble with If-Modified-Since HTTP Request


I'm trying to form a valid HTTP conditional request with the `If-Modified-Since` in my request header. But I am always getting status code 200 even when I use a time that should return the status code 304. 

Any suggestions appreciated.

This is a sample dump of the request I am trying and the response I get:
```
Swift/IOS
▿ https://api.weather.gov/gridpoints/FWD/80,108
  ▿ url: Optional(https://api.weather.gov/gridpoints/FWD/80,108)
    ▿ some: https://api.weather.gov/gridpoints/FWD/80,108
      - _url: https://api.weather.gov/gridpoints/FWD/80,108 #0
        - super: NSObject
  - cachePolicy: 0
  - timeoutInterval: 60.0
  - mainDocumentURL: nil
  - networkServiceType: __C.NSURLRequestNetworkServiceType
  - allowsCellularAccess: true
  ▿ httpMethod: Optional("GET")
    - some: "GET"
  ▿ allHTTPHeaderFields: Optional(["If-Modified-Since": "2021-01-11T12:00:00+00:00"])
    ▿ some: 1 key/value pair
      ▿ (2 elements)
        - key: "If-Modified-Since"
        - value: "2021-01-11T12:00:00+00:00"
  - httpBody: nil
  - httpBodyStream: nil
  - httpShouldHandleCookies: true
  - httpShouldUsePipelining: false

Response code: 200
Response date: Mon, 11 Jan 2021 15:03:56 GMT
Expires: Mon, 11 Jan 2021 15:07:33 GMT
Last modified: Mon, 11 Jan 2021 11:53:44 GMT
Update time: 2021-01-11T11:53:44+00:00
Valid times: 2021-01-11T05:00:00+00:00/P8DT6H
```

Date values in HTTP protocol headers need to be in HTTP-Date format; see [RFC 7231 § 7.1.1.1](https://tools.ietf.org/html/rfc7231#page-65)

```
   The preferred format is a fixed-length and single-zone subset of the date and time specification used by the Internet Message Format [RFC5322].

     HTTP-date    = IMF-fixdate / obs-date

   An example of the preferred format is

     Sun, 06 Nov 1994 08:49:37 GMT    ; IMF-fixdate
```

HTTP protocol values not in the expected format are ignored ([RFC 7232 § 3.3](https://tools.ietf.org/html/rfc7232#page-16)).

Thank you, I'm getting the same result with the HTTP-Date... 

```
▿ https://api.weather.gov/gridpoints/FWD/80,108
  ▿ url: Optional(https://api.weather.gov/gridpoints/FWD/80,108)
  [...]
  ▿ httpMethod: Optional("GET")
    - some: "GET"
  ▿ allHTTPHeaderFields: Optional(["If-Modified-Since": "Mon, 11 Jan 2011 16:00:00 GMT"])
    ▿ some: 1 key/value pair
      ▿ (2 elements)
        - key: "If-Modified-Since"
        - value: "Mon, 11 Jan 2011 16:00:00 GMT"
  - httpBody: nil
  [...]

Response code: 200
Response date: Mon, 11 Jan 2021 16:15:16 GMT
Expires: Mon, 11 Jan 2021 16:25:54 GMT
Last modified: Optional("Mon, 11 Jan 2021 11:53:44 GMT")
Update time: 2021-01-11T11:53:44+00:00
Valid times: 2021-01-11T05:00:00+00:00/P8DT6H
```

Your date says 2011 :)

Argh! 

[brews more coffee]

But still...

```
  ▿ allHTTPHeaderFields: Optional(["If-Modified-Since": "Mon, 11 Jan 2021 16:00:00 GMT"])

Response code: 200
Response date: Mon, 11 Jan 2021 16:34:30 GMT
Expires: Mon, 11 Jan 2021 16:49:30 GMT
Last modified: Optional("Mon, 11 Jan 2021 11:53:44 GMT")
Update time: 2021-01-11T11:53:44+00:00
Valid times: 2021-01-11T05:00:00+00:00/P8DT6H
```

I don't see this behavior. Sorry I can't aid further.

```
[sclouse@sclouse ~]$ curl -i -H 'If-Modified-Since: Mon, 11 Jan 2021 16:00:00 GMT' https://api.weather.gov/gridpoints/FWD/80,108
HTTP/2 304 
content-type: application/geo+json
last-modified: Mon, 11 Jan 2021 11:53:44 GMT
cache-control: public, max-age=834, s-maxage=3600
expires: Mon, 11 Jan 2021 17:04:51 GMT
date: Mon, 11 Jan 2021 16:50:57 GMT
x-edge-request-id: 573857d0
vary: Accept,Feature-Flags,Accept-Language
strict-transport-security: max-age=31536000 ; includeSubDomains ; preload
```

Okay, thanks